<div class="vertical-container">
    <ul class="stack" swing-stack swing-options="cards.swingOptions">
        <li class="empty-stack">
            No more Guardians
        </li>
        <li swing-card ng-repeat="guardian in cards.activeGuardians | orderBy:'activatedOn':true" 
            ng-if="cards.showInStack(guardian)"
            swing-on-throwoutleft="cards.dequeue()"
            swing-on-throwoutright="cards.matchedGuardians.$add(cards.dequeue())">
            <div class="class-image" style="background-image: url(../../assets/images/{{guardian.class}}.jpg);">
            </div>
            <div class="info">
                <h3 class="gamertag">{{guardian.networkId}}</h3>
                <div>
                    <h4 class="light-level inline">{{guardian.level}}</h4>
                    <h4 class="class inline">{{guardian.class}}</h4>
                </div> 
                <h5>"{{guardian.bio}}"</h5>
            </div>        
        </li>
    </ul>

    <div class="controls">
        <div class="instructions">Swipe left to hide, swipe right to like</div>        
        <div class="control inline" ng-click="cards.refresh()"><i class="icon-ccw"></i></div>
        <div class="control large inline" ng-click="cards.dequeue()"><i class="icon-cross"></i></div>
        <div class="control large inline" ng-click="cards.matchedGuardians.$add(cards.dequeue())"><i class="icon-heart"></i></div>
        <div class="control inline" ng-click="cards.favoriteGuardians.$add(cards.dequeue())"><i class="icon-star"></i></div>
    </div>
</div>
