ul[swing-stack] {
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    
    @media screen and (min-width: $mobile-break) {
        width: 500px;
        left: calc(50% - 250px);
    }
    
    li {
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
        height: 350px;
        list-style: none;
        background: #fff;
        border-radius: 5px;
        position: absolute;
        //left: calc(50% - 100px);
        box-shadow: 0 0 2px rgba(0, 0, 0, .2), 1px 1px 1px rgba(0, 0, 0, .2);
        text-align: center;
        border: 3px solid $medium-color;
        box-sizing: border-box;
        cursor: default;
        background: $dark-color;
        color: white;
        
        &.in-deck {
            &:nth-child(3) {
                top: 2px;
                transform: translate(2px, 2px) rotate(0.4deg);
            }
            &:nth-child(2) {
                top: 4px;
                transform: translate(-4px, -2px) rotate(-1deg);
            }
        }
        
        &.empty-stack {
            background: transparentize(black, .8);
            box-shadow: none;
            color: white;
            text-align: center;
            border: none;
            font-size: 24px;
            word-wrap: break-word;
            white-space: normal;
            padding-top: 110px;
        }

        .class-image {
            height: 200px;
            background-size: cover;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom: 3px solid $medium-color;
        }

        .info {
            padding: 5px;


        }

        .gamertag {
            margin-top: 0;
        }

        .light-level {
            color: $light-level-color;

            &:before {
                content: "\2726";
            }
        }
    }
}
