.inline {
    display: inline-block;
}

.vertical-container {
    height: calc(100% - 50px);
}


ul[swing-stack] {
    height: 60%;
    position: absolute;
    overflow: hidden;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-top: 15px;
    margin-bottom: 0;
    max-width: 500px;
    
    @include respond-to(card-max) {
        left: calc(50% - 250px);
    }
    
    li {
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
        height: 90%;
        list-style: none;
        background: #fff;
        border-radius: 5px;
        position: absolute;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2), 1px 1px 1px rgba(0, 0, 0, .2);
        text-align: center;
        border: 3px solid $medium-color;
        box-sizing: border-box;
        cursor: default;
        background: $dark-color;
        color: white;
        
        &.in-deck {
            &:nth-child(3) {
                top: 2px;
                transform: translate(2px, 2px) rotate(0.4deg);
            }
            &:nth-child(2) {
                top: 4px;
                transform: translate(-4px, -2px) rotate(-1deg);
            }
        }
        
        &.empty-stack {
            background: transparentize(black, .8);
            box-shadow: none;
            color: white;
            text-align: center;
            border: none;
            font-size: 24px;
            word-wrap: break-word;
            white-space: normal;
            padding-top: 110px;
        }

        .class-image {
            height: 45%;
            background-size: cover;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom: 3px solid $medium-color;
        }

        .info {
            padding: 5px;           
        }

        .gamertag {
            margin-top: 0;
        }

        .light-level {
            color: $light-level-color;
            font-weight: 300;
            margin-right: 5px;
            margin-top: -10px;
            margin-bottom: -10px;
            
            &:before {
                content: '\2726';
            }
        }
        
        .light-level, .class {
            margin-top: -10px;
            margin-bottom: -10px;
        }
        
        .class {
            font-weight: 700;
        }
    }
}

.controls {
    position: absolute;
    bottom: 5px;
    width: 290px;
    height: calc(40% - 50px);
    left: calc(50% - 145px);
    bottom: -5%;
    
    @include respond-to(extra-small) {
        width: 382px;
        left: calc(50% - 191px);
    }
    
    .control {
        border-radius: 50%;
        border: 10px solid #CCCCCC;
        width: 60px;
        height: 60px;
        font-size: 28px;
        position: relative;
        top: -40px;
        margin-right: -12px;  
        text-align: center;
        cursor: pointer;        
        transition: background-color 0.15s ease-in-out;
        user-select: none;
        
        &:active {
            background-color: #E6E6E6;
            
            i {
                transform: scale(0.9);
            }  
        }
        
        @include respond-to(extra-small) {
            top: -45px;
            height: 80px;
            width: 80px;
        }
        
        &.large {
            width: 100px;
            height: 100px;
            top: 0;
            
            @include respond-to(extra-small) {
                width: 125px;
                height: 125px;
            }
            
            i {
                font-size: 46px;
                
                @include respond-to(extra-small) {
                    font-size: 58px;
                }
            }
        }
        
        i {          
            position: absolute;
            
            &.icon-ccw {
                left: 5px;
                top: 6px;
                color: #F2D349;
            }
            &.icon-cross {
                left: 17px;
                top: 17px;
                color: $accent-color;
            }
            &.icon-heart {
                left: 17px;
                top: 18px;
                color: #03A173;
            }
            &.icon-star {
                left: 6px;
                top: 6px;
                color: #1C7CED;
            } 
            
            @include respond-to(extra-small) {
                font-size: 40px;
                
                &.icon-ccw {
                    left: 8px;
                    top: 11px;                    
                }
                &.icon-cross {
                    left: 23px;
                    top: 23px;
                }
                &.icon-heart {
                    left: 24px;
                    top: 26px;
                }
                &.icon-star {
                    left: 10px;
                    top: 10px;
                }  
            }
        }
    }
}
