<h2>Your Guardians</h2>
<div class="row your-guardians">
    <div class="col-xs-12 col-md-6 col-lg-4" ng-repeat="(key, guardian) in guardians.guardians">
        <div class="my-guardian">
            <div class="class-selector">
                <h4>Class:</h4>
                <div class="row">
                    <div class="col-xs-4" ng-click="guardians.selectClass(key, 'TITAN')" >
                        <div class="class titan" ng-class="{'selected': guardian.class == 'TITAN'}">
                            
                        </div>
                    </div>
                    <div class="col-xs-4" ng-click="guardians.selectClass(key, 'HUNTER')" >
                        <div class="class hunter" ng-class="{'selected': guardian.class == 'HUNTER'}">
                            
                        </div>
                    </div>
                    <div class="col-xs-4" ng-click="guardians.selectClass(key, 'WARLOCK')" >
                        <div class="class warlock" ng-class="{'selected': guardian.class == 'WARLOCK'}">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="platform-selector">
                <h4>Platform:</h4>
                <div class="row">
                    <div class="col-xs-6" ng-click="guardians.selectPlatform(key, 'XBOX')">
                        <div class="platform xbox" ng-class="{'selected': guardian.platform == 'XBOX'}">
                            
                        </div>
                    </div>
                    <div class="col-xs-6" ng-click="guardians.selectPlatform(key, 'PSN')">
                        <div class="platform psn" ng-class="{'selected': guardian.platform == 'PSN'}">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="light-level-input">
                <h4>Light Level:</h4>
                <div class="row">
                    <div class="col-xs-12">
                        <input class="form-control" ng-model="guardian.level" type="number" ng-blur="guardian.updateGuardian(key)" min="0" max="320">
                    </div>
                </div>
            </div>
            <div class="bio-input">
                <h4>Bio:</h4>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea class="form-control" ng-model="guardian.bio" maxlength="140" ng-blur="guardians.updateGuardian(key)"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <br />
                    <button class="btn btn-accent btn-block btn-lg" ng-click="guardians.activateGuardian(key)" ng-disabled="guardians.userProfile.activeGuardianId != null">Activate Guardian <i class="icon-hour-glass"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-accent btn-lg btn-block" ng-click="guardians.addGuardian()">Add Guardian <i class="icon-add-user"></i></button>
        <br /><br />
    </div>
</div>
