<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header" ng-click="vm.navbarCollapsed = !vm.navbarCollapsed">
      <a class="navbar-brand" >
        <span class="glyphicon glyphicon-home"></span> {{vm.title}}
      </a>
    </div>

    <div class="navbar-collapse" id="bs-example-navbar-collapse-6" ng-class="{'collapse': vm.navbarCollapsed}">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>
