nav.navbar {
  background: $lightColor;
  a {
    color: white;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: $mediumColor;
  }
  .navbar-collapse {
    
    &.collapse {
      display: block;
    }
  }
}