.blur-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    filter: brightness(60%);
    background: url(../../assets/images/destiny-crimson-logo-bg.jpg);
    background-position: center;
    z-index: -1;
}

.login {

    position: relative;
    height: 100%;
    width: 100%;
    h1 {
        margin: 0 auto;
        position: relative;
        top: 10%;
        color: white;
        text-align: center;
    }
    form {
        display: block;
        @extend .center-vertically;
        margin: auto;
        width: 90%;
        @include respond-to(medium) {
            width: 33%;
        }
        label {
            color: white;
            margin-top: 2em;
        }
        input {
            height: 50px;
            background: rgba(white, 0);
            border-color: $light-color;
            border: 0px;
            border-bottom: 1px solid $accent-color;
            border-radius: 0px;
            color: white;
            font-size: 28px;
            display: block;
            width: 100%;
            padding: 0;
            &:focus {
                border-color: white;
                outline: none;
                box-shadow: none;
            }
        }
        button {
            color: white;
            height: 50px;
            font-size: 22px;
        }
    }
}
