// Colors
$base-color: #1F3547;
$dark-color: #463547;
$medium-color: #653547;
$light-color: #9D3547;
$accent-color: #ED3547;

// Spacing
$gutter-width: 15px;

// Custom Breakpoints
$mobile-break: 500px + (2 * $gutter-width);