<div class="blur-bg"></div>
<div class="container-fluid forgot-password">
    <div class="row">
        <div class="col-md-offset-4 col-xs-12 col-md-4 center-text">
            <h1 class="title"><i class="pull-left icon-chevron-thin-left back-button" ui-sref="login"></i>Forgot Password?</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-xs-12 col-md-4">
            <br /><br />
            <p>Enter the email address you used to register in the field below. We will then send you an email with a temporary password.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-xs-12 col-md-4">
            <form class="form login-form">
                <label>Email</label>
                <input type="text" ng-model="forgot.email">
                <label></label>
                <button class="btn btn-lg btn-accent btn-block" type="submit" ng-click="forgot.reset()">Send Reset Email</button>
            </form>
        </div>
    </div>
</div>
