.modal-dialog {
//    margin-top: 50%;
//    @include respond-to(small) {
//        margin-top: 30%;
//    }
//    @include respond-to(medium) {
//        margin-top: 20%;
//    }
//    @include respond-to(large) {
//        margin-top: 10%;
//    }
    .modal-content {
        background: $base-color;
        color: white;
        .modal-header {
            background: $dark-color;
            border: 0px;
        }
        .modal-body {

        }
        .modal-footer {
            border: 0px;
        }
    }
}
